<div fxLayout="row" fxLayoutAlign="center center">
    <h2>TRACEABILITY FOR MACHINE</h2>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
    <div>
        <mat-form-field>
            <mat-label>Machine</mat-label>
            <mat-select [formControl]="selectedMachine" name="selectedMachine">
                <mat-option *ngFor="let name of machineList" [value]="name.value">
                    {{name.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Start Date" [formControl]="startDate"
                [min]="minDate" [max]="maxDate" [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime">
            </ngx-mat-datetime-picker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="picker1" placeholder="End Date" [formControl]="endDate"
                [min]="minDate" [max]="maxDate" [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime">
            </ngx-mat-datetime-picker>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary"
            [disabled]="selectedMachine.invalid || startDate.invalid || endDate.invalid"
            (click)="search()">Submit</button>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="loading ; else showWhenLoaded">
    <mat-progress-spinner diameter="40" mode="indeterminate" value="100"></mat-progress-spinner>
</div>
<ng-template #showWhenLoaded>
    <div [hidden]="displayedColumns.length==0" class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
        <div fxFlex>
            <div fxLayout="row" class="mb-5">
                <button mat-raised-button color="basic" (click)="downloadData()">
                    <mat-icon>download</mat-icon>
                    Export to Excel
                </button>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                    <th mat-header-cell *matHeaderCellDef>{{disCol}} </th>
                    <div *ngIf="disCol=='date'">
                        <td mat-cell *matCellDef="let element"> {{element[disCol] | date:'medium' }} </td>
                    </div>
                    <div *ngIf="disCol !== 'date'">
                        <td mat-cell *matCellDef="let element"> {{element[disCol]}} </td>
                    </div>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

</ng-template>
