table {
    width: 100%;
}
.text-center{
    text-align: center;
}
.h5-header-title{
    text-align: center;
    padding: 5px;
    background-color: #3f51b5;
    color: white;
    margin-top: 2px;
}
