<div id="sidebar">
    <mat-nav-list>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> Dashboard
        </a> -->
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/trace-for-machine']">
            <mat-icon class="sidenav-icon">dns</mat-icon> Traceability for Machine
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/trace-for-piece']">
            <mat-icon class="sidenav-icon">segment</mat-icon> Traceability for Piece
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/trace-for-z3m21']">
            <mat-icon class="sidenav-icon"><span class="material-icons-outlined">
                    precision_manufacturing
                </span></mat-icon> Traceability for Z3M21
        </a>
    </mat-nav-list>
</div>
